@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #640e0f;
    --second-color: #ec1b227d;
    --text-color: #ffffff;
}

* {
    font-family: 'Marvel', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 60px;
    text-shadow: 3px 2px 0px #000;
}
header h2 {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 30px;
    text-shadow: 3px 2px 0px #000;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
    padding: 15px 0px;
    margin-top: 5px;
    border: 15px solid var(--second-color);
}

section {
    display: flex;
    justify-content: center;
}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
}

img {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    filter: drop-shadow(2px 2px 5px #ffffff);
}

.desc-text {
    width: 500px;
    font-size: 20px;
    text-align: center;
    border:2px solid var(--second-color);
    border-radius: 5px;
    padding: 0px 25px;
}

.time-line-title h3 {
    margin:0;
    padding: 5px;
    font-size: 25px;
}

.time-line-title {
    margin-top: 15px;
}

ul {
    width: 500px;
    text-align: justify;
    background-color: var(--second-color);
    padding: 25px 50px;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 16px;
}

ul li {
    line-height: 25px;
}

li {
    padding: 10px;
    margin: 5px;
    border:2px solid #640e0f;
    list-style-type:none;
    border-radius: 5px;
}

li span {
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 18px;
}

a {
    text-decoration:none;
    color: var(--text-color);
}

.read-more {
    background-color: var(--second-color);
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
}

.read-more:hover {
    background-color: var(--primary-color);
    text-shadow: 0px 0px 30px #ffffff;
    text-decoration:underline;
}

footer {
    background-color: var(--second-color);
    color: #ffffff;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-size: 16px;
}


